@font-face {
    font-family: "Standard Galactic Alphabet";
    src: url("../fonts/sga.ttf");
}

@font-face {
    font-family: "Keen 4";
    src: url("../fonts/keen4.ttf");
}

@font-face {
    font-family: "Rasa";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rasa-regular.ttf");
}

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inconsolata-regular.ttf");
}

html {
    background-color: #222;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #222 0%, #222 75%, rgba(34, 34, 34, .9) 100%), url("../images/background.png");
    color: #54fc54;
    min-height: 100%;
}

body {
    min-width: 600px;
    max-width: 980px;
    margin: 2rem auto;
    padding: 0 2rem;
}

h1, h2, h3 {
    font-family: "Keen 4";
    text-align: center;
}

header ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

header ul li {
    background-image: none;
    padding: 0;
    display: inline-block;
}

header ul li a {
    background: #000;
    padding: .25rem;
}

header h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
    border-bottom: .5rem solid #54fc54;
    margin: 2rem 1rem;
}

header h1 a {
    text-decoration: none;
}

section h1 {
    font-size: 2rem;
}

section h2 {
    font-size: 1.3rem;
}

section h3 {
    font-size: 1rem;
}

p, ul, footer {
    color: #fefefe;
    font-size: 1.1rem;
    font-family: "Rasa";
    line-height: 1.5rem;
}

p {
    margin: 1rem;
}

ul {
    padding: 0;
    margin: 0 1rem;
    list-style: none;
}

ul li {
    background-image: url("../images/asset1.png");
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 35px;
    line-height: 35px;
}

pre {
    border-bottom: 1px solid #54fc54;
    background: #111;
    color: #fefefe;
    padding: 1rem;
    font-family: "Inconsolata";
    overflow-x: auto;
}

img {
    max-width: 100%;
}

a {
    color: #54fc54;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

code, cite {
    display: inline-block;
    font-family: "Inconsolata";
    padding: 0 2px;
    background-color: #111;
    color: #fefefe;
    font-style: normal;
}

footer {
    margin: 2rem 1rem;
    border-top: .5rem solid #54fc54;
    text-align: center;
}

footer p {
    font-size: 10px;
}

blockquote {
    font-family: "Keen 4";
    background: #fefefe;
    color: #333;
    padding: 2rem 2rem 2rem 12rem;
    border: 1rem solid #3ea8a7;
    margin: 0;
    background-image: url("../images/keen1.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 165px;
    display: table-cell;
    vertical-align: middle;
    width: 9999px;
    position: relative;
}
